.todo-container {
    font-family: 'Arial', sans-serif;
    width: 350px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, #7fa1d3, #244976);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
  }

  h1, h2 {
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  

  input {
    width: 80%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  

  input:hover {
    background-color: #fff1e6;
  }

  button {
    padding: 12px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    display: inline-block;
    margin-top: 10px;
  }
